/* src/components/css/navbar.css */

.navbar {
  margin: 5px;
  background-color: #444;
}

.nav-list {
  padding: 10px 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
  color: turquoise;
}
