/* src/pages/css/post.css */

.container-post {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-post {
  width: 76.6%;
  padding-right: 20px;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: stretch;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-img {
  margin: 0;
  overflow: hidden;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img img {
  width: 100%;
  height: auto;
  border-radius: 5px 0 0 5px;
}

.post-details {
  width: 60%;
  background-color: #70707070;
  padding: 10px 0 0 20px;

  border-radius: 0 8px 8px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-details h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.status {
  display: flex;
  align-items: center;
}

.circulo-status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.circulo-status.dead {
  background-color: #f30e0e;
}

.circulo-status.alive {
  background-color: #00ff00;
}

.post-details p {
  color: #eeeeee;
  font-size: 18px;
  margin-bottom: 8px;
}

.post-details img {
  border-radius: 5px;
}

.comment-container {
  margin-top: 20px;
}
